

.company-logo{
	height: 300px;
	background-color: rgba(256,34,89,0.2);
	 
}
.company-logo h1{
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}
.company-logo p{
	text-align: center;
	text-transform: capitalize;
}
.about-designer{
	display: flex;
	justify-content: space-between;
	/*border:1px solid black;*/
	padding: 20px 30px;
}
.details-about-designer {
	width: 70%;
	padding: 10px;
}
 
.details-about-designer p{
	text-align: justify;
	text-justify:inter-word; 
}
.details-about-designer h2{
	font-size: 30px;
	text-transform: uppercase;
	color: black;
}
.our-values{
	/*border:1px solid black;*/
	background-color: #cccccc;
	display: flex;
	justify-content: space-around;
	padding: 20px 30px;
}
.image-about-values{
	text-align: center;
	margin-top: 30px;
}
.image-about-designer{
	width: 30%;
  text-align: center;
  display: flex;
  align-items: center;
}
.image-about-designer img{
  width: 100%;
  height: 300px;
  
}
.designer-services{
	text-align: center;
}
.designer-services img{
	padding: 10px;
	width: 100%;
	height: 250px;
}
 .portpolia-images{
 	text-align: center;
 }
 .portpolia-images img{
 	padding: 10px;
 	width: 100%;
	height: 250px;
 }
 .our-customers{
 	text-align: center;
 }
 .our-customers img{
 	padding: 10px;
 	width: 100%;
	height: 250px;
 }
 .footer{
 	width: 100%;
 	height: 200px;
 	background-color: black;
 	display: flex;
 }
  
  