.main-page{
  width: 100%;
}
.container-fluid{
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 768px){
.navbar-right{
  margin-top: -50px;
}
.navbar-collapse{
  padding: 0px;
}
}
@media screen and (max-width: 320px)
{
  .navbar-right{
    margin-top: 10px;
    display: flex;
  }
}
.navbar{
  margin-bottom: 0px;
  border: none;
}
 
.navbar-default .navbar-nav>li>a{
  color: black;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #cccccc;
}
.navbar-default .navbar-nav>li>a:active{
  color: #cccccc;
}
.nav a:hover{
  color: white;
}



.carousel.vertical .item {
  transition: 0.6s ease-out  top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top:400px;
}

.carousel.vertical .prev {
  top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
  height: 300px;
}
.horizontal-slider{
  width: 60%;
  border: 10px solid grey;
}
.vertical-slider{
  width: 40%;
  border:10px solid pink;
  
 }
 .slider{
  display: flex;
  justify-content: space-between;
}
.right-mark{
  top: 20px;
}
.tab-pane{
  background-color:#f5f5f5;
  margin-top: 30px;
}
.first-image-section img{
  height: 300px;
}
.portfolia-section h2 {
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  text-align: center;
}
.portfolia{
  margin-top: 50px;
} 
.portfolia-section h1{
  text-transform: uppercase;
  font-size: 40px;
  color: black;
  text-align: center;
}
 .container {
  position: relative;
}  
.image {
  display: block;
}
.overlay {
  position: absolute;
  top:0;
  background-color: #95c6d8;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  opacity: 0.6;
}
.container:hover .overlay {
  bottom: 0;
  height: 80%;
}
.icons-images{
  top: 40%;
  left: 20%;
  position: absolute;
  width: 70px;
  height:70px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  background:url("D:/fashion-design/images/gallery (1).png") no-repeat center;
  background-size: 45px;
  color: #fff;
}
.icons-images12{
  top: 40%;
  left: 50%;
  position: absolute;
  width: 70px;
  height:70px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  color: #fff;
  background:url("D:/fashion-design/images/avatar.png") no-repeat center;
  background-size: 50px;
}
.icons-images:hover{
  background-color:#fff;
  background-image:url("D:/fashion-design/images/gallery (2).png");
  opacity: 1;
}
.icons-images12:hover{
  background-color:#fff;
  background-image:url("D:/fashion-design/images/avatar (1).png");
  opacity: 1;
}
.overlay1 {
  position: absolute;
  bottom: 0;
  background-color: #f5f5f5;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  opacity: 1;
}
.container:hover .overlay1 {
 bottom:0;
 height: 20%;
}
.image-text h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
}
.last-image-link h2{
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  margin-left: 60px;
  margin-top: 100px;
  list-style: none;
  border-left: 4px solid skyblue; 
  padding-left: 20px;
  height:  25px;

}
.last-image-link a{
  text-decoration: none;
  color: black;
}
.nav{
  text-transform: uppercase;
}
.padding-manu-bar a{
  color: black;
  font-weight: bold;
}
.model{
  height: 498px;
  width: 100%;

} 
.model-heading span{
  font-size: 20px; 
  background-color:#fff;
  padding-right: 20px;
  text-transform: uppercase;
  color: grey;
}
.model-heading h2 {
     border-bottom: 1px solid black;
     line-height:0.1em; 
     letter-spacing: 2px;
}
 .model-casting-images img{
  width: 100%;
}
.model-heading h1{
  text-transform: uppercase;
  color: black;
  font-size: 45px;
}
.model-heading p{
  text-transform: uppercase;
  color: black;
  opacity: 0.5;
  font-size: 30px;
 word-spacing: 5px;
 letter-spacing: 5px;
}

.model-casting-details{
  margin-top:  30px;
}
.discover-more-section {
  margin-top: 50px;
  text-align: left;
  text-transform: uppercase;
  font-size: 20px;
  border-left: 3px solid skyblue;
  padding-left: 20px;
  height: 35px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700px;
  line-height: 30px;
 }
.discover-more-section a{
  text-decoration: none;
  color: black;
}
.btn-styles{
    border:none;
    color:black;
    width:30px;
    height:35px;
    margin-left: 10px;
}
.background-image-section{
  width: 100%;
  background: url("D:/fashion-design/images/progress.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  position: absolute;
}
.background-image-color{
  background-color: #95c6d8;
  opacity: 0.8;
}
.quote-sign{
  font-size:250px;
}
.josefin{
  font-family: 'Cambria';
 }
.quote-sign:before{
  content: 'â€';
  display: block;
  position: relative;
  top: 90px;
  line-height: 75px;
}
.slider-heading{
  margin-top: 100px;
}
.slider-heading h1{
  font-size: 45px;
  color: black;
  font-family: 'Allerta';
  text-transform: uppercase;
  font-weight: bold;
}
.center-align{
  text-align: center;
}
.slider-heading span {
   background:#95c6d8; 
   padding:0 10px;
   opacity: 1;
   font-size: 25px;
   letter-spacing: 5px;
   text-transform: uppercase;
 }
.carousel-inner{
    height: 280px;
}
.desing-manager span{
    text-transform: capitalize;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}
.desing-manager{
  margin-top: 20px;
}
.back-ground-slider{
  width: 100%;
  height: 560px;
}
.position-fixed{
  position: relative;
}
.carousel-indicators{
  margin-bottom: 30px;
  height: auto;
}
.main-footer{
   background-color: #212121;
}
.footer-background-image{
  background-image: url("D:/fashion-design/images/footer.png");
  background-size: cover;
  background-position: center;
 }
 .footer-background-color{
  height: 100%;
  opacity: 0.9;
  overflow: hidden;
 }
 .footer-container{
  padding:70px 40px 50px 40px;
}
.footer-first-div p{
  opacity: 0.7;
  color:white;
  line-height:20px;
  font-family: 'Josefin Sans', sans-serif;
 }
 .footer-contact h4{
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    border-left: 3px solid skyblue;
    padding-left: 20px;
    height: 23px;
    margin-top: 5px;
    opacity: 0.7;
    font-size: 15px;
 }
.footer-map-icon{
    margin-top: 40px;
 }
 .footer-send-mail a{
    text-decoration: none;
    color: white;
    opacity: 0.7;
 }
 .footer-send-mail a:hover{
    color: grey;
    opacity: 0.7;
 }
 .footer-call-icon span,a{
  color: white;
  opacity: 0.7;
  margin-left: 10px;
  font-size: 15px;
 }
 .footer-map-icon span{
  color: white;
  opacity: 0.7;
  margin-left: 10px;
  font-size: 15px;
 
 }
.footer-call-icon{
  margin-top: 15px;
}
.footer-send-mail{
  margin-top: 25px;
}
.recent-post-images li,a{
  list-style: none;
}
.recent-post-images{
  display: flex;
}
.recent-post-div h4{
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  border-left: 3px solid skyblue;
  padding-left: 20px;
  height: 23px;
  margin-top: 5px;
  opacity: 0.7;
  font-size: 15px;
}
.own-styles a{
  font-size: 15px;
  margin-top: -3px;
  display: flex;
  color: white;
  font-weight: bold;
  opacity: 1;
}
.own-styles span{
  font-size: 13px;
  color: skyblue;
  margin-left: 15px;
}
.padding-image{
  margin-top: 40px;
}
.media-padding{
  margin-bottom: 20px;
}
.footer-social-div h4{
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  border-left: 3px solid skyblue;
  padding-left: 20px;
  height: 23px;
  margin-top: 5px;
  opacity: 0.7;
  font-size: 15px;
}
.search-bar button{
  background-color: transparent;
  color: skyblue;
}
.fashion-industry{
  background-color: orange;
  opacity: 0.4;
  height: 350px;
}
.footer-social-div p{
  margin-top: 30px;
}
.search-bar{
  margin-top: 20px;
}
.search-bar input{
  padding: 10px;
  background-color: #212121;
  border:1px solid white;
  border-right: none;
}
.search-bar button{
  padding: 10px;
  background-color: #212121;
  border:1px solid white;
  border-left: none;
  position: absolute;
  font-weight: bold;
}
.footer-social-media-icons {
  margin-top: 25px;
}
.footer-social-media-icons a{
  padding-right: 13px;
  text-decoration: none;
}
.sub-footer{
  background-color: black;
  height: 50px;
}
.sub-footer-details {
  text-align: center;
  padding: 15px;
}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}
.nav-tabs, .nav-pills {
  text-align:center;
}
.nav-pills li,a{
  color:black; ;
}


@media screen and (max-width: 320px)
{
.first-image-section img{
  height: 300px;
  width: 100%;
}
.overlay1{
  width: 90%;
}
.overlay{
  width: 90%;
}
}
@media screen and (max-width: 768px) and (min-width:321px )
{
.first-image-section img{
  height: 300px;
  width: 100%;
}
.overlay1{
  width: 92%;
}
.overlay{
  width: 92%;
} 
}
@media screen and (max-width: 768px)
{
  .model{
    width: 100%;
    height:1000px;
  }
}
@media screen and (max-width: 320px)
{
  .model{
    width: 100%;
    height:800px;
  }
  .model-heading h1{
    font-size: 25px;
  }
  .model-heading p{
    font-size: 15px;
  }
}
@media screen and (max-width: 320px)
{
  .portfolia-section h2{
    font-size: 15px;
  }
  .portfolia-section h1{
    font-size: 25px;
  }
  .nav-pills li,a{
    font-size: 11px;
    padding: 6px !important;
    font-weight: bold;
  }
  .nav-pills{
    
  }
}